* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    font-family: $main-font;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    color: $black;
}

a {
    font-size: 1em;
    text-decoration: none;
    color: $main-color;
    transition: $transition;

    &:hover {
        color: $main-color-hover;
        transition: $transition;
    }
}

input:focus {
    outline: none;
}

::selection {
    background-color: $main-color;
    color: $white;
}

::-moz-selection {
    background-color: $main-color;
    color: $white;
}

button {
    &:focus, &:active {
        outline: none;
    }
}

.content {
    margin-top: 54px;
}
