        <footer>
            <p>Copyright 2017</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        {% if config.minify.javascript %}
            <script src=""></script>
        {% else %}
            <script src=""></script>
        {% endif %}
    </body>
</html>
