<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ title is defined ? title : '' }}</title>
        <meta name="description" content="" />

        {% if config.minify.stylesheet %}
            <link rel="stylesheet" href="">
        {% else %}
            <link rel="stylesheet" href="">
        {% endif %}
    </head>

    <body>
        <header>
            <h1>Hello World</h1>
        </header>
