{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">404 not found</h1>
            <p>The page you're looking for doesn't exist or has been deleted.</p>
        </div>
    </div>

{% endblock %}
