{% extends 'layouts/default.twig' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for post in posts %}
                <div class="col-6 col-lg-4">
                    <h2>{{ post.title }}</h2>
                    <p>{{ excerpt(post.content) }}</p>
                    <p><a class="btn btn-secondary" href="{{ url('posts/' ~ post.id) }}" role="button">View details &raquo;</a></p>
                </div><!--/span-->
            {% endfor %}
        </div><!--/row-->
    </div>

{% endblock %}
